body {
    margin: 0;
    padding: 50px;
    font-size: 16px;
    background: #03C7A3;
}

a {
    color:#7b6807;
    text-decoration: none;
    font-weight: bold;
    font-size: 2rem;
    
}

.post-box {
    background-color: #2C3D5B;
    border-radius: 10px;
    box-shadow: 3px 2px 5px 3px rgba(0,0,0,0.2);
    margin: 10px auto;
    width: 80%;
    padding: 15px;
}
  
.post-box h2 {
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    color: #7b6807;
}
  
.post-box p {
    background-color: #03c7a35d;
    border-radius: 10px;
    margin: 7.5px 0;
    font-size: 16px;
    color: #EEC811;
    padding: 10px;
}
  