body {
    margin: 0;
    padding: 50px;
    font-size: 16px;
    background: #03C7A3;
}

a {
    background: #2C3D5B;
    padding: 6px;
    border: 2.5px solid #4566a0;
    border-radius: 15px;
    box-shadow: 3px 2px 5px 3px rgba(0,0,0,0.2);
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.7rem;
    -webkit-text-stroke-width: 0.15px;
    -webkit-text-stroke-color: black;
    position: relative;
    top: -10px;    
}

.post-box {
    background-color: #2C3D5B;
    border: 2.5px solid #4566a0;
    border-radius: 20px;
    box-shadow: 3px 2px 5px 3px rgba(0,0,0,0.2);
    margin: 10px auto;
    width: 80%;
    padding: 15px;
}
  
.post-box h2 {
    margin: 0;
    font-size: 19px;
    font-weight: bold;
    color: rgb(181, 181, 181);
}
  
.post-box p {
    background-color: #03c7a35d;
    border-radius: 10px;
    margin: 7.5px 0;
    font-size: 16px;
    color: white;
    padding: 10px;
}
  