body {
    background-image: url();
    background-size: cover;
    background-position: center;
    color: #fff;
    margin: 0;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    max-width: 80%;
}

.login-container {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-link {
    display: inline-block;
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
}

.login-link:hover {
    background-color: #333;
    color: #fff;
}