body {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Montserrat', sans-serif;
    background: #03C7A3;
    color: #eeC811;
    padding-top: 3em;
}

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    padding: 20px;
    background-color: #03C7A3;
    box-sizing: border-box;
}

.title-box {
    width: 40%;
    max-width: 400px;
    margin-right: 20px;
    background-color: #2c3d5b;
    border: 2.5px solid #4566a0;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.title-box:hover {
    background-color: #3c66af;
}

.description-box {
    padding-right: 100px;
    width: 50%;
    font-size: 18px;
    line-height: 1.5;
}

hr {
    width: 100%;
    margin: 0;
    border: none;
    border-top: 5px solid #2c3d5b;
}